@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes rotate-full {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.border-rotate {
  position: relative;
}

.border-rotate::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 4px dotted transparent;
  border-radius: 9999px;
  background-image: conic-gradient(
    from 0deg,
    #f9a8d4 0%,
    #ec4899 25%,
    #db2777 50%,
    #f472b6 75%,
    #f9a8d4 100%
  );
  -webkit-mask: repeating-conic-gradient(#000 0deg 2deg, transparent 2deg 8deg);
  mask: repeating-conic-gradient(#000 0deg 2deg, transparent 2deg 8deg);
  animation: rotate-full 6s linear infinite;
  z-index: -1;
}
